extends search_nav.pug

block links
  .result
    input(type="checkbox")
    a(href='https://www.imdb.com/title/tt1235170/')
      h2 The Future (2011) - IMDb
    span.url https://www.imdb.com/title/tt1235170/
    p
      | When a couple decides to adopt a stray cat their perspective on life changes radically, literally altering the course of time and space and testing their faith in each other and themselves. ... Directed, scripted and starring by Miranda July, The Future is a film that has been ...
  .result
    input(type="checkbox")
    a(href='https://en.wikipedia.org/wiki/Future')
      h2 Future - Wikipedia
    span.url https://en.wikipedia.org/wiki/Future
    p
      | The future is what will happen in the time after the present. Its arrival is considered inevitable due to the existence of time and the laws of physics. Due to the ...
  .result
    input(type="checkbox")
    a(href='http://thefuturethefuture.com/')
      h2 The Future
    span.url thefuturethefuture.com/
    p
      | A MOVIE WRITTEN + DIRECTED BY MIRANDA JULY NOW PLAYING IN SELECT CITIES. Skip to content. YOUR FUTURE · BLOG · TRAILER · GALLERY ...
  .result
    input(type="checkbox")
    a(href='https://gizmodo.com/10-predictions-about-the-future-that-should-scare-the-h-1783538821')
      h2 10 Predictions About the Future That Should Scare the Hell Out of You
    span.url
      | https://gizmodo.com/10-predictions-about-the-future-that-should-scare-the-h-1783538821
    p
      | When a couple decides to adopt a stray cat their perspective on life changes radically, literally altering the course of time and space and testing their faith in each other and themselves. ... Directed, scripted and starring by Miranda July, The Future is a film that has been ...
  .result
    input(type="checkbox")
    a(href='https://www.thefutureproject.org/about-us/')
      h2 About Us | The Future Project
    span.url https://www.thefutureproject.org/about-us/
    p
      | We were, and still are, united by a core belief: that the future is not fixed—and that people, working together, can shape it for the better. We also believe that all ...
  .result
    input(type="checkbox")
    a(href='https://bestlifeonline.com/crazy-future-predictions/')
      h2 30 Craziest Predictions About the Future Experts Say Are Going to ...
    span.url https://bestlifeonline.com/crazy-future-predictions/
    p
      | Hey, science fictions fans -- some of your nerdiest dreams may be coming true. Here are the craziest predictions about the future.
  .result
    input(type="checkbox")
    a(href='https://techcrunch.com/2019/03/10/the-future-of-flying/')
      h2 The future of flying | TechCrunch
    span.url https://techcrunch.com/2019/03/10/the-future-of-flying/
    p
      | From 3500 feet up California is a glorious patchwork quilt of green and gold, textured by rippling mountains and shining water. Ahead of us we ...
  .result
    input(type="checkbox")
    a(href='https://www.inc.com/kevin-j-ryan/-tech-trends-report-amy-webb-future-institute.html')
      h2 7 Crazy Tech Trends That Will Define the Future | Inc.com
    span.url
      | https://www.inc.com/kevin-j-ryan/-tech-trends-report-amy-webb-future-institute.html
    p
      | Amy Webb, founder of the Future Today Institute, published her annual Tech Trends Report on Saturday.
  .result
    input(type="checkbox")
    a(href='https://www.thefutureperfect.com/')
      h2 The Future Perfect
    span.url The Future Perfect
    p
      | The Future Perfect, founded by David Alhadeff in 2003, is one of the world's foremost platforms for collectable contemporary design. With its strong curatorial ...
  .result
    input(type="checkbox")
    a(href='http://rubinmuseum.org/theme/the-future')
      h2 The Future - Rubin Museum of Art
    span.url rubinmuseum.org/theme/the-future
    p
      | Step into a world where past, present, and future exist all at once. At the Rubin in 2018, we're bringing together a full year of exhibitions, talks, programs, and ...
