extends search_nav.pug

block links
  each result in results
    .result
      input(type="checkbox")
      a(href=result.link)
        h2= result.title
      span.url= result.link
      p= result.snippet