form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 8px; }
  form input {
    font-size: 1.1rem;
    padding: 8px 8px 8px 16px;
    width: 100%;
    font-family: 'Roboto Slab', Georgia, "Times New Roman", serif;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 0;
    outline: 0; }
  form button {
    padding: 12px;
    background: #aea8d3;
    border: 1px solid black;
    outline: 0;
    transition: all 0.15s;
    cursor: pointer; }
    form button i {
      font-size: 16px; }
    form button:hover {
      background: #736598; }

nav > ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  padding-left: 0; }
  nav > ul > li {
    list-style-type: none;
    text-align: center;
    flex-grow: 1;
    font-size: 0.95rem;
    background: white;
    padding: 10px; }
    nav > ul > li:hover {
      background: #aea8d3; }
      nav > ul > li:hover .dropdown {
        display: block; }
    nav > ul > li:nth-of-type(2) .dropdown {
      transform: translate(-120px, 10px); }
    nav > ul > li:nth-of-type(3) .dropdown {
      transform: translate(-104px, 10px); }
    nav > ul > li:nth-of-type(4) .dropdown {
      transform: translate(-244px, 10px); }
    nav > ul > li .dropdown {
      position: absolute;
      border: 1px solid black;
      transform: translate(-11px, 10px);
      text-align: left;
      padding: 10px;
      width: 350px;
      background: white;
      display: none; }
      nav > ul > li .dropdown li {
        list-style: none;
        transition: background 0.09s; }
        nav > ul > li .dropdown li:hover {
          background: #e4e9ed; }
        nav > ul > li .dropdown li:active {
          background: #bdc3c7; }
        nav > ul > li .dropdown li a {
          text-decoration: none;
          display: block;
          color: black;
          padding: 10px; }
          nav > ul > li .dropdown li a h3 {
            margin: 0; }
          nav > ul > li .dropdown li a p {
            margin: 0;
            opacity: 0.7; }
        nav > ul > li .dropdown li button {
          font-size: 0.93rem;
          font-family: 'Roboto Slab', Georgia, "Times New Roman", serif;
          background: none;
          text-align: left;
          cursor: pointer;
          width: 100%;
          padding: 10px;
          border: 0;
          outline: 0; }
          nav > ul > li .dropdown li button:hover {
            background: #e4e9ed; }
          nav > ul > li .dropdown li button:active {
            background: #bdc3c7; }
          nav > ul > li .dropdown li button h3 {
            margin: 0; }
          nav > ul > li .dropdown li button p {
            margin: 0;
            opacity: 0.7; }

.nav-menu-button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: none; }

.logo i {
  color: #aea8d3;
  transform: rotateY(180deg);
  font-size: 60px; }
  .logo i:hover {
    color: #736598; }

.side-menu {
  position: fixed;
  right: 10px;
  bottom: 90px;
  width: 309px; }
  .side-menu h4 {
    margin: 0; }
  .side-menu .import {
    background: white;
    padding: 15px;
    position: fixed;
    border: 1px solid black; }
    .side-menu .import input {
      font-size: 0.8rem; }
  .side-menu .export {
    background: white;
    padding: 15px;
    border: 1px solid black;
    margin-bottom: 10px;
    position: relative; }
    .side-menu .export input {
      margin-right: 10px; }
    .side-menu .export label {
      font-size: 0.8rem; }
    .side-menu .export a {
      position: absolute;
      padding: 5px 15px;
      background: #aea8d3;
      font-size: 0.85rem;
      border: 1px solid black;
      bottom: 10px;
      right: 10px; }
      .side-menu .export a:hover {
        background: #736598;
        color: white;
        cursor: pointer; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', Georgia, "Times New Roman", serif;
  background: #e4e9ed; }
  body header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto; }
    body header .title {
      text-align: center; }
      body header .title h1 {
        margin-top: 8px;
        margin-bottom: 8px; }
      body header .title p {
        margin-top: 0;
        margin-bottom: 48px; }
    body header #phase-number {
      font-size: 0.8rem;
      margin-top: 40px;
      text-align: center; }

@media screen and (max-width: 600px) {
  body {
    margin: 0px 10px; }
    body nav {
      display: none; }
    body .nav-menu-button {
      display: inline;
      position: absolute;
      top: 18px;
      left: 10px; } }

/*# sourceMappingURL=main.css.map */